# PostgreSQL
PG_USER=postgres
PG_HOST=localhost
PG_DATABASE=ivr_db
PG_PASSWORD=secret
PG_PORT=5432

# Asterisk ARI
ARI_URL=http://localhost:8088
ARI_USER=freshdesk
ARI_PASS=ahmed

# Freshdesk
FRESHDESK_DOMAIN=yourcompany.freshdesk.com
FRESHDESK_API_KEY=your_api_key_here

# App
PORT=3000